.font_error{
    font-family: "Century Gothic";
    font-size: 12px;
    color: #AC2D2D;
}
.font_footer{
    font-family: "Century Gothic";
    font-size: 12px;
    color: #383838;
}
.font_01{
    font-family: "Century Gothic";
    font-size: 20px;
    font-weight: bold;
    color: #383838;
    text-align: left;
}
.font_02{
    font-family: "Century Gothic";
    font-size: 12px;
    color: #383838;
    text-align: left;
}
td,th{
    font-family: "Century Gothic";
    font-size: 11px;
    color: #383838;
}
